@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

/* 🌗 Variables personalizadas */
:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
  --primary: #005eff; /* Azul Lugg */
  --secondary: #f2f2f2;
  --accent: #00d084; /* Verde de acción */
  --error: #e63946;

  --font-sans: var(--font-geist-sans, 'Inter', sans-serif);
  --font-mono: var(--font-geist-mono, 'Fira Code', monospace);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;
    --primary: #3399ff;
    --secondary: #1e1e1e;
    --accent: #00ffb3;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}